<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Package visibility (API 30+) so EngineHost.isInstalled()/Kirikiroid2.isInstalled() actually work. -->
    <queries>
        <package android:name="dev.enginehost" />
        <package android:name="org.github.krkr2" />
    </queries>

</manifest>
