[submodule "vendor/gamenative"]
	path = vendor/gamenative
	url = https://github.com/bi0shacker001/gamenative-tux.git
[submodule "vendor/droidspaces"]
	path = vendor/droidspaces
	url = https://github.com/ravindu644/Droidspaces-OSS.git
[submodule "vendor/wlroots"]
	path = vendor/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
[submodule "vendor/sway"]
	path = vendor/sway
	url = https://github.com/swaywm/sway.git
[submodule "vendor/go-containerregistry"]
	path = vendor/go-containerregistry
	url = https://github.com/google/go-containerregistry.git
[submodule "vendor/wayland-protocols"]
	path = vendor/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "vendor/wayland"]
	path = vendor/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "vendor/libffi"]
	path = vendor/libffi
	url = https://github.com/libffi/libffi.git
[submodule "vendor/droidtop-platforms"]
	path = vendor/droidtop-platforms
	url = https://github.com/Droidtop/droidtop-platforms.git
[submodule "vendor/proot"]
	path = vendor/proot
	url = https://github.com/termux/proot.git
[submodule "vendor/hev-socks5-tunnel"]
	path = vendor/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel.git
[submodule "vendor/OpenXR-SDK"]
	path = vendor/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK
	shallow = true
[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/libsdl-org/SDL
	shallow = true
[submodule "vendor/pulseaudio"]
	path = vendor/pulseaudio
	url = https://github.com/pulseaudio/pulseaudio
	shallow = true
[submodule "vendor/libsndfile"]
	path = vendor/libsndfile
	url = https://github.com/libsndfile/libsndfile
	shallow = true
